In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('../../data/titanic_train.csv')
test = pd.read_csv('../../data/titanic_test.csv')

Сначала выделим из имени все загаловки
Там встретятся следующие варианты:

train:

- Capt
- Col
- Countess
- Don
- Dr
- Jonkheer
- Lady
- Major
- Master
- Miss
- Mlle (французское обращение для незамужней женщины) значит можно заменить на Miss
- Mme (можно заменить на Mrs)
- Mr
- Mrs
- Ms (можно заменить на Mrs)
- Rev
- Sir

In [3]:
# Выведем все заголовки в именах в отдельный столбец

train['Title'] = train.Name.str.extract('([A-Za-z]+)\.', expand=False)
test['Title'] = test.Name.str.extract('([A-Za-z]+)\.', expand=False)

In [4]:
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Rev
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Miss
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Miss
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Mr
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Mr

In [ ]:
test.Title.value_counts()

In [5]:
# Объеденим некоторые редко используемые заголовки

train['Title'] = train['Title'].replace('Mme', 'Mrs')
train['Title'] = train['Title'].replace('Mlle', 'Miss')
train['Title'] = train['Title'].replace('Lady', 'Ms')
train['Title'] = train['Title'].replace('Countess', 'Ms')

train['Title'] = train['Title'].replace('Capt', 'Sir')
train['Title'] = train['Title'].replace('Col', 'Sir')
train['Title'] = train['Title'].replace('Don', 'Sir')
train['Title'] = train['Title'].replace('Jonkheer', 'Sir')
train['Title'] = train['Title'].replace('Major', 'Sir')
train['Title'] = train['Title'].replace('Rev', 'Sir')

for i in range(len(train)):
    if train['Title'][i] == 'Dr' and train['Sex'][i] == 'male':
        train['Title'][i] = train['Title'][i].replace('Dr', 'Sir')

for i in range(len(train)):
    if train['Title'][i] == 'Dr' and train['Sex'][i] == 'female':
        train['Title'][i] = train['Title'][i].replace('Dr', 'Ms')
        

        

        
        
test['Title'] = test['Title'].replace('Mme', 'Mrs')
test['Title'] = test['Title'].replace('Mlle', 'Miss')
test['Title'] = test['Title'].replace('Lady', 'Ms')
test['Title'] = test['Title'].replace('Countess', 'Ms')
test['Title'] = test['Title'].replace('Dona', 'Ms')

test['Title'] = test['Title'].replace('Capt', 'Sir')
test['Title'] = test['Title'].replace('Col', 'Sir')
test['Title'] = test['Title'].replace('Don', 'Sir')
test['Title'] = test['Title'].replace('Jonkheer', 'Sir')
test['Title'] = test['Title'].replace('Major', 'Sir')
test['Title'] = test['Title'].replace('Rev', 'Sir')

for i in range(len(test)):
    if test['Title'][i] == 'Dr' and test['Sex'][i] == 'male':
        test['Title'][i] = test['Title'][i].replace('Dr', 'Sir')

for i in range(len(test)):
    if test['Title'][i] == 'Dr' and test['Sex'][i] == 'female':
        test['Title'][i] = test['Title'][i].replace('Dr', 'Ms')

In [6]:
# сделаем вместо названий цифру, чтобы сеть могла обучаться
mapping = {'Mr': 1,  'Miss': 2, 'Mrs': 3, 'Master': 4, 'Sir': 5, 'Ms': 6}

train['Title'] = train['Title'].map(mapping)
test['Title'] = test['Title'].map(mapping)

In [7]:
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,3
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,3
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,5
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,2
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,2
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,1
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,1

In [8]:
# для тех, у кого не указан возраст, заполним значением, которое является средним для их категории по заголовку 'Title'

for n in range(1, 7):
    for i in range(len(train)):
        if train['Title'][i] == n:
            if pd.isnull(train.Age[i]):
                train['Age'][i] = train[train.Title == n]['Age'].mean()

for n in range(1, 7):
    for i in range(len(test)):
        if test['Title'][i] == n:
            if pd.isnull(test.Age[i]):
                test['Age'][i] = test[test.Title == n]['Age'].mean()

In [9]:
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
0,1,0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,PC 17599,71.2833,C85,C,3
2,3,1,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,7.9250,NaN,S,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000,C123,S,3
4,5,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,NaN,S,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.000000,0,0,211536,13.0000,NaN,S,5
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.000000,0,0,112053,30.0000,B42,S,2
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,21.804054,1,2,W./C. 6607,23.4500,NaN,S,2
889,890,1,1,"Behr, Mr. Karl Howell",male,26.000000,0,0,111369,30.0000,C148,C,1
890,891,0,3,"Dooley, Mr. Patrick",male,32.000000,0,0,370376,7.7500,NaN,Q,1

In [ ]:
train['Embarked'].fillna(train['Embarked'].mode()[0], inplace = True)

In [ ]:
test['Fare'].fillna(test['Fare'].median(), inplace = True)

In [ ]:
train = train.drop(columns = ['PassengerId', 'Name', 'Cabin'])
test = test.drop(columns = ['PassengerId', 'Name', 'Cabin'])

In [ ]:
train['Sex'] = train['Sex'].map( {'female': 1, 'male': 0}).astype(int)

In [ ]:
test['Sex'] = test['Sex'].map( {'female': 1, 'male': 0}).astype(int)

In [ ]:
train = train.drop(columns = ['FareBin'])
test = test.drop(columns = ['FareBin'])

In [ ]:
train.Embarked.value_counts()

In [ ]:
train['Embarked'] = train['Embarked'].map( {'Q': 1, 'C': 2, 'S': 3}).astype(int)
test['Embarked'] = test['Embarked'].map( {'Q': 1, 'C': 2, 'S': 3}).astype(int)

In [ ]:
train['FareBin'] = pd.qcut(train['Fare'], 4)
test['FareBin'] = pd.qcut(test['Fare'], 4)

In [ ]:
test.info()

In [ ]:
from sklearn import metrics
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression, SGDClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis, QuadraticDiscriminantAnalysis
from sklearn.ensemble import ExtraTreesClassifier, RandomForestClassifier, GradientBoostingClassifier, AdaBoostClassifier
from catboost import CatBoostClassifier
from xgboost import XGBClassifier

In [ ]:
classifier = RandomForestClassifier(n_estimators = 10)
classifier.fit(train_data, train_labels.values.ravel())
prediction = classifier.predict(test_data)
metrics.accuracy_score(test_labels, prediction)

In [ ]:
train_data = train.loc[:, train.columns != 'Survived']
train_labels = train[['Survived']]

In [ ]:
scaler = StandardScaler()
train_scaled = scaler.fit_transform(train)
test_scaled = scaler.transform(test)

In [ ]:
train_data, test_data, train_labels, test_labels = train_test_split(train_data, train_labels, test_size = 0.2,)

In [ ]:
classifier = CatBoostClassifier()
classifier.fit(train_data, train_labels.values.ravel())
prediction = classifier.predict(test_data)
metrics.accuracy_score(test_labels, prediction)

In [ ]:
pred = classifier.predict(test)

In [ ]:
pred

In [ ]:
subm = pd.read_csv('subm.csv')

In [ ]:
subm['Survived'] = pred

In [ ]:
subm.to_csv('subm3.csv', index=False)

In [ ]:
pd.qcut([1, 7], 4)

In [ ]:
test.info()

In [ ]:
train.info()

In [ ]:
train['FareBin'] = pd.qcut(train['Fare'], 4)

In [ ]:
train.FareBin.value_counts()

In [ ]:
train.Embarked.value_counts()

In [ ]:
train[train.Cabin == 'B28']

In [ ]:
test.Title.value_counts()

In [ ]:
pd.crosstab(train['Title'], train.Sex)

In [ ]:
train[train['Sex'] == 'male']['Title']

In [ ]:
pd.crosstab(test['Title'], test.Sex)

In [ ]:
# для обращения master видим, что для некоторых неизвестен возраст
# но так обращаются только к мальчикам до 18 лет, поэтому заполним все неизвестные значения возраста средним значением известных

for i in range(len(train)):
    if train['Title'][i] == 'Master':
        if pd.isnull(train.Age[i]):
            train['Age'][i] = train[train.Title == 'Master']['Age'].mean()

In [ ]:
for i in range(len(train)):
    if train['Title'][i] == 'Mrs':
        if pd.isnull(train.Age[i]):
            train['Age'][i] = train[train.Title == 'Mrs']['Age'].mean()

In [ ]:
train[pd.isnull(train.Age)][:50]

In [ ]:
train[train.Title == 'Miss']['Age'].mean()

In [ ]:
train.info()

In [ ]:
s = []
for i in train.Name:
    if 'Jonkheer.' in i:
        s.append(i)
print(s)

In [ ]:
train

In [ ]:
type(train.Age[42])

In [ ]:
train[train.Title == 'Dr']

In [ ]:
train[train.Title == 'Miss'][:50]

In [ ]:
train[train.Title == 'Master']['Age'] = train[train.Title == 'Master']['Age'].fillna(train[train.Title == 'Master']['Age'].mean())

In [ ]:
for i in range(len(train)):
    if train['Title'][i] == 'Master':
        if pd.isnull(train.Age[i]):
            train['Age'][i] = train[train.Title == 'Master']['Age'].mean()

In [ ]:
pd.isnull(train.Age[198])