In [1]:
import pandas as pd

In [5]:
# read csv to dataframe
wine_reviews = pd.read_csv('../../data/wine_reviews/winemag-data-130k-v2.csv', index_col=0)

In [10]:
# show first 2 columns
wine_reviews.head(2)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos

In [11]:
# show last 2 columns
wine_reviews.tail(2)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

In [30]:
# creat

df1 = pd.DataFrame({'Yes': [1, 33, 45],
                   'No': [2, 433, 54]})

In [31]:
df1

   Yes   No
0    1    2
1   33  433
2   45   54

In [32]:
df2 = pd.DataFrame({'Yes': [1, 33, 45],
                    'No': [2, 433, 54]},
                  index=['one', 'two', 'three'])

In [33]:
df2

       Yes   No
one      1    2
two     33  433
three   45   54

In [28]:
# write df2 to csv
df2.to_csv('file.csv')

In [ ]:
# write df2 to csv without index
df2.to_csv('file.csv', index=False)

In [38]:
ser1 = pd.Series([1, 2, 3, 4, 5, 6, 7])

In [39]:
ser1

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [40]:
ser2 = pd.Series([1, 2, 3, 4, 5, 6, 7], name='Yes')

In [41]:
ser2

0    1
1    2
2    3
3    4
4    5
5    6
6    7
Name: Yes, dtype: int64

In [42]:
ser3 = pd.Series([1, 2, 3, 4, 5, 6, 7], index=['one', 'two', 'three', 'four', 'five', 'six', 'seven'], name='Yes')

In [43]:
ser3

one      1
two      2
three    3
four     4
five     5
six      6
seven    7
Name: Yes, dtype: int64